@page
@model Pharmacy.Areas.Admin.Pages.FAQs2.CreateModel
@{
}
<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h2 class="card-header d-flex justify-content-between align-items-center">
							@sharedResource["Create"]  @sharedResource["FAQ"]
							<a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
						</h2>
					</div>
					<div class="card-body">
						<br />
						<form id="form" method="post" enctype="multipart/form-data">

							@(Html.DevExtreme().Form<Pharmacy.Models.FAQ>()
							.Items(items =>
							{
							items.AddSimpleFor(m => m.QuestionAr).IsRequired(true).Label(k => k.Text(sharedResource["QuestionAr"]));
							items.AddSimpleFor(m => m.AnswerAr).IsRequired(true).Label(k => k.Text(sharedResource["AnswerAr"]));
							items.AddSimpleFor(m => m.QuestionEn).IsRequired(true).Label(k => k.Text(sharedResource["QuestionEn"]));
							items.AddSimpleFor(m => m.AnswerEn).Label(k => k.Text(sharedResource["AnswerEn"]));

							items.AddButton()
							.ColSpan(3)
							.HorizontalAlignment(HorizontalAlignment.Right)
							.ButtonOptions(b => b.Text(sharedResource["Save"])
							.Type(ButtonType.Success)
							.UseSubmitBehavior(true)).CssClass("invers");
							})
							)
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>