@page
@model Pharmacy.Areas.Admin.Pages.Areas.AddModel
@{
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Add"]  @sharedResource["Area"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <br />
                        <form id="form" method="post" enctype="multipart/form-data">
                            @(Html.DevExtreme().Form<Pharmacy.Models.Area>().ColCount(1)
        .Items(items =>
        {
            items.AddSimpleFor(m => m.AreaTlAr).IsRequired(true).Label(k => k.Text(sharedResource["TlAr"]));
            items.AddSimpleFor(m => m.AreaTlEn).IsRequired(true).Label(k => k.Text(sharedResource["TlEn"]));
            items.AddSimpleFor(m => m.AreaOrderIndex).IsRequired(true).Label(k => k.Text(sharedResource["Sort"])).Editor(e=>e.NumberBox().Value(null).Min(1));
            items.AddSimpleFor(m => m.AreaIsActive).Label(k => k.Text(sharedResource["IsActive"]));
                                    items.AddSimpleFor(m => m.DeliveryCost).IsRequired(true).Label(k => k.Text(sharedResource["Delivery Cost"])).Editor(e => e.NumberBox().Value(null).Min(1));


        items.AddSimpleFor(m=>m.CityId).IsRequired(true).Label(k => k.Text(sharedResource["City"]))
                .Editor(e => e
                    .Lookup()
                    .ID("CityLookup")
                    .DataSource(ds => ds.WebApi().Controller("Areas").LoadAction("CityLookup").Key("Value").LoadParams(new {CountryId=0}))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                    .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                        .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])

                );

            items.AddButton()
                        .ColSpan(3)
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        .ButtonOptions(b => b.Text(sharedResource["Save"])
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)).CssClass("invers");
        })
)
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
     function GetCities() {
        var Country = $("#CountryLookup").dxLookup("instance");
        var SelectedCountry = Country.option("selectedItem");
        console.log(SelectedCountry)
        if (SelectedCountry != null) {
            $.ajax({

                type: "GET",
                url: "Add?handler=FillCityList",
                data: { "values": SelectedCountry.Value },
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    console.log("List Cities" + response)
                    var City = $("#CityLookup").dxLookup("instance");
                    console.log(City)
                    City.option("dataSource", response)
                    //Pharmacy.refresh()

                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
    }
</script>