@page
@model Pharmacy.Areas.Admin.Pages.newOrder.IndexModel
@{
}
<div>
    <br />
    <br />
    <br />
    <br />

    @(Html.DevExtreme().DataGrid<Pharmacy.Models.Order>()
    .DataSource(ds => ds.Mvc()
        .Controller("newOrders")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("OrderId")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.OrderId).Caption(sharedResource[("OrderId")]);

        columns.AddFor(m => m.OrderDate).Caption(sharedResource[("OrderDate")]);

        columns.AddFor(m => m.OrderSerial);

        columns.AddFor(m => m.Total);

        columns.AddFor(m => m.CustomerId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("newOrders").LoadAction("CustomersLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Addrerss);

        columns.AddFor(m => m.Closed);

        columns.AddFor(m => m.PaymentMethodId);

        columns.AddFor(m => m.Remarks);

        columns.Add().Caption(sharedResource["Actions"]).Width(200).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>

                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary btn-sm"  href="/Admin/newOrder/Details?id=<%- data.OrderId %>"> <i class="fas fa-eye"></i> </a>
                            </div>
                            </text>).Width(200);
    })

    )
)
</div>