@page
@model Pharmacy.Areas.Admin.Pages.Orders.IndexModel
@{
}

<style>
    td {
        text-align: center !important;
    }
</style>


<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Orders"]
                            
                        </h2>
                    </div>
                    <div class="card-body">

                        @(Html.DevExtreme().DataGrid<Pharmacy.Models.Order>()
    .DataSource(ds => ds.Mvc()
        .Controller("Orders")
        .LoadAction("Get")
        .Key("OrderId")

    )


    .Columns(columns => {

    columns.AddFor(m => m.OrderSerial).Caption(sharedResource["Serial"]);
    columns.AddFor(m => m.OrderDate).Caption(sharedResource["Date"]);



    columns.AddFor(m => m.CustomerId).Lookup(lookup => lookup
        .DataSource(ds => ds.WebApi().Controller("Orders").LoadAction("CustomersLookup").Key("Value"))
        .ValueExpr("Value")
        .DisplayExpr("Text")
    ).Caption(sharedResource["Customer"]);

    columns.AddFor(m => m.Addrerss).Caption(sharedResource["Address"]);
    //columns.AddFor(m => m.Closed).Caption(sharedResource["Closed"]);
    columns.AddFor(m => m.PaymentMethodId).Lookup(lookup => lookup
        .DataSource(ds => ds.WebApi().Controller("Orders").LoadAction("PaymentMethodLookup").Key("Value"))
        .ValueExpr("Value")
        .DisplayExpr("Text")
    ).Caption(sharedResource["PaymentMethod"]);
    columns.AddFor(m => m.Total).Caption(sharedResource["Total"]);

    columns.Add().Caption(sharedResource["Actions"]).Width(200).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary btn-sm"  href="/Admin/Orders/OrderDetails?id=<%- data.OrderId %>"> <i class="fas fa-eye"></i> </a>
                            </div>
                            </text>);


    })
                        .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);

                        })
                        .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .AllowColumnReordering(true)
                        .ShowRowLines(true)
                        .ShowBorders(true)
                        .SearchPanel(searchPanel => searchPanel
                        .Visible(true)
                        .Width(240)
                        .Placeholder(sharedResource["SearchTxt"]))
                        .RemoteOperations(true)
                        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

